In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

df

  Approximation  Sum Operations  Operation reduction
0       Precise             447                 0.00
1      1 Column             383                14.32
2     2 Columns             319                28.64
3     3 Columns             255                42.95
4     4 Columns             191                57.27
5     5 Columns             127                71.59
6           SAD              63                85.91